.hidden {
  display: none;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
  text-align: left;
  color: darkblue;
  font-style: italic;
}

.answer {
  font-style: italic;
  color: blue;
}

.question {
  font-weight: 600;
  color: darkgreen;
}

h1 {
  color: purple;
}